@import "../../assets/less/mixins/variable";

.wordpress-detail-wrap {
    margin-top: 80px;
}
.wordpress-detail-wrap .detail-content {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 1000px;
}
.wordpress-detail-wrap .fixed-side-card {
    position: fixed;
    top: 80px;
    width: 100%;
    max-width: @pageMaxWidthLg * 15 / 60 - 20;
    @media screen and (max-width: @screen-md) {
        max-width: @pageMaxWidthMd * 17 / 60 - 20;
    }
    @media (min-width: @screen-sm) and (max-width: @pageMaxWidthMd) {
        max-width: calc(28.2% - 20px)
    }
    @media screen and (max-width: @screen-sm) {
        max-width: @pageMaxWidthSm * 20 / 60 - 20;
    }
    @media screen and (max-width: @screen-xs) {
        max-width: @pageMaxWidthXs * 60 / 60 - 20;
    }
}
