.page-search-wrap {
    .search-tip {
        padding: 12px 20px;
        margin-bottom: 20px;
        font-size: 28px;
        background-color: #fff;
    }
    .btn-more {
        margin-bottom: 20px;
    }
}
